* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


#logo { /*Logo box*/
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo a { /* transition from smaller size to bigger size*/
    transition: transform 0.2s ease;
}

#logo img{ /*Image modifications*/ 
    margin: 10px;
    width: 10em;
    height: auto;
}

#logo a:hover{
    filter: hue-rotate(300deg); /* Color change on hover effect*/
    transform: scale(1.15); /* Changes size of icon on hover*/
}

